In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [10]:
%matplotlib inline
data = pd.read_csv("train.csv")
test = pd.read_csv("validation.csv")

In [11]:
data.head()

,variable1,variable2,variable3,variable4,variable5,variable6,variable7,variable8,variable9,variable10,...,variable13,variable14,variable15,variable16,variable17,variable18,variable19,variable20,variable21,class
0,a,17,92,5,0.00004,u,g,c,v,1,...,t,1,t,g,80,5,800000.0,t,0,no.
1,b,32,33,0,35.00000,u,g,k,v,0,...,f,0,t,g,232,0,2320000.0,f,0,no.
2,a,34,83,0,125.00000,y,p,i,h,0,...,f,0,t,g,160,0,1600000.0,f,0,no.
3,a,24,75,0,13665.00000,u,g,q,h,1,...,f,0,f,g,280,1,2800000.0,f,0,no.
4,a,18,17,0,1.00000,y,p,q,h,0,...,f,0,f,g,340,0,3400000.0,f,0,no.

In [12]:
test.head()

,variable1,variable2,variable3,variable4,variable5,variable6,variable7,variable8,variable9,variable10,...,variable13,variable14,variable15,variable17,variable18,variable19,variable20,variable21,variable22,class
0,b,32.0,33.0,0,75.00000,u,g,e,bb,1,...,f,0.0,t,s,420.0,0.0,4200000.0,NaN,1.0,no.
1,b,23.0,58.0,0,179.00000,u,g,c,v,0,...,f,0.0,t,g,136.0,1.0,1360000.0,NaN,0.0,no.
2,b,36.0,42.0,7,0.00005,y,p,d,v,0,...,f,0.0,f,g,240.0,3.0,2400000.0,NaN,1.0,no.
3,b,18.0,42.0,0,10415.00000,y,p,aa,v,0,...,f,0.0,f,g,120.0,375.0,1200000.0,NaN,0.0,no.
4,b,24.0,5.0,0,13335.00000,y,p,aa,v,0,...,f,0.0,t,g,120.0,475.0,1200000.0,f,1.0,no.

In [13]:
y_train = data['class']
x_train = data.drop('class',axis = 1)
y_test = test['class']
x_test = test.drop('class',axis = 1)

In [23]:
#from sklearn.ensemble import RandomForestClassifier
#rfc = RandomForestClassifier(n_estimators=70, oob_score=True, n_jobs=-1,random_state=101,max_features=None, min_samples_leaf=30)
#rfc.fit(x_train,y_train)
#y_pred = rfc.predict(x_test)

In [27]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression
lr.fit(x_train, y_train)
y_pred=lr.predict(x_test)

TypeError: fit() missing 1 required positional argument: 'y'

In [30]:
from sklearn.naive_bayes import GaussianNB
nb = GaussianNB
nb.fit(x_train,y_train)

TypeError: fit() missing 1 required positional argument: 'y'

In [28]:
from sklearn.metrics import r2_score
r2_score(y_test,y_pred)

NameError: name 'y_pred' is not defined